
<!-- views/add.erb -->
<!doctype html>
<html>
<head>
  <title>LOGIN</title>
</head>
<body>
	<form action="/login" method="POST">
  		<h1>Webpage login</h1>
		<p>Username: <input type="text" name="username" placeholder="fulanito"></p>
		<p>Password: <input type="text" name="pasword" placeholder="menganito"></p>

  		<button type="submit">Login</button>
  	</form>
  	<br>
	<div><label for="terms">You agree to our not evil terms of service</label><input type="checkbox" id="terms"></div>
</body>
</html>
